/* ====================================
   Variables 
   ==================================== */
:root {
  /* Colors */
  --color-1: #fdb14a; /* Yellow */
  --color-2: #c45019; /* Orange */
  --color-3: #30797d; /* Teal */
  --color-4: #1C334a; /* Dark Blue */
  --color-5: #8e4a4a; /* Rose */
  --color-6: #faf2dc; /* Off White */
  --color-7: #1c2126; /* Off Black */

  /* Fonts */
  --font-stack-1: 'cormorant-garamond', Georgia, serif;
  --font-stack-2: 'josefin-sans', Helvetica, Arial, sans-serif;

  /* Layout */
  --container-width: 92%;
  --container-large-width: 96%;
  --container-max-width: 71.25rem; /* 1140px */
  --container-large-max-width: 80rem; /* 1280px */
  --gutter-width: 1rem;

  /* Font Sizes */
  --font-size-h1:    6rem;      /* 96px */
  --font-size-h2:    4.5rem;    /* 72px */
  --font-size-h3:    4rem;      /* 64px */
  --font-size-h4:    3.5rem;    /* 56px */
  --font-size-h5:    3rem;      /* 48px */
  --font-size-h6:    2.25rem;   /* 36px */
  --font-size-xxxlg: 1.75rem;   /* 28px */
  --font-size-xxlg:  1.375rem;  /* 22px */
  --font-size-xlg:   1.25rem;   /* 20px */
  --font-size-lg:    1.125rem;  /* 18px */
  --font-size-p:     1rem;      /* 16px */
}

/* ====================================
   Base Styles 
   ==================================== */
* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;    
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

img,
video,
iframe {
  display: block;
  max-width: 100%;
}

body {
  background: white;
  font-family: var(--font-stack-1);
}

/* ====================================
   Utilities
   ==================================== */
.img-centered {
  text-align: center;

  img {
    margin: 0 auto;
  }
}

.img-shadow-1 {
  box-shadow: 0 5px 25px rgba(0, 0, 0, .25);
}

.text-centered {
  text-align: center;
}

.text-columns {
  &-2up {
    column-count: 2;
    column-gap: 50px;
  }
}

.section-padding {
  &-xs {
    padding: 1rem 0;
  }

  &-sm {
    padding: 2rem 0;
  }

  &-md {
    padding: 4rem 0;
  }

  &-lg {
    padding: 6rem 0;
  }

  &-xlg {
    padding: 8rem 0;
  }
}

/* ====================================
   Layout
   ==================================== */
.container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: 0 auto;

  &--large {
    width: var(--container-large-width);
    max-width: var(--container-large-max-width);
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;

  &--3-up {
    > * {
      width: calc(33.33% - var(--gutter-width));
    }
  }
}

/* ====================================
   Grid
   ==================================== */
.row {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;

  &--justify-content-center {
    justify-content: center;
  }

  &--reversed {
    flex-direction: row-reverse;
  }

  .col {    
    &-1-12 {
      width: calc(8.33% - var(--gutter-width));
    }

    &-1-6 {
      width: calc(16.66% - var(--gutter-width));
    }

    &-1-4 {
      width: calc(25% - var(--gutter-width));
    }

    &-1-3 {
      width: calc(33.33% - var(--gutter-width));
    }

    &-5-12 {
      width: calc(41.66% - var(--gutter-width));
    }

    &-1-2 {
      width: calc(50% - var(--gutter-width));
    }

    &-7-12 {
      width: calc(58.33% - var(--gutter-width));
    }

    &-2-3 {
      width: calc(66.66% - var(--gutter-width));
    }

    &-3-4 {
      width: calc(75% - var(--gutter-width));
    }

    &-5-6 {
      width: calc(83.33% - var(--gutter-width));
    }

    &-11-12 {
      width: calc(91.66% - var(--gutter-width));
    }

    &-full-width {
      width: 100%;
    }
  }
}

/* ====================================
   Typography
   ==================================== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-family: var(--font-stack-1);
  font-size: var(--font-size-xxlg);
  font-weight: 500;
  line-height: 1.4;
  padding-bottom: 1.5rem;
}

h1 {
  font-family: var(--font-stack-1);
  font-size: var(--font-size-h1);
  font-weight: 700;
  line-height: .9;
  padding-bottom: 1.5rem;
}

h2 {
  font-family: var(--font-stack-1);
  font-size: var(--font-size-h2);
  font-weight: 700;
  line-height: 1.25;
  padding-bottom: 1.25rem;
}

h3 {
  font-family: var(--font-stack-1);
  font-size: var(--font-size-h3);
  font-weight: 700;
  line-height: 1.25;
  padding-bottom: 1.25rem;
}

h4 {
  font-family: var(--font-stack-1);
  font-size: var(--font-size-h4);
  font-weight: 700;
  line-height: 1.25;
  padding-bottom: 1.25rem;
}

h5 {
  font-family: var(--font-stack-1);
  font-size: var(--font-size-h5);
  font-weight: 700;
  line-height: 1.25;
  padding-bottom: 1.25rem;
}

h6 {
  font-family: var(--font-stack-1);
  font-size: var(--font-size-h6);
  font-weight: 700;
  line-height: 1.25;
  padding-bottom: 1.25rem;
}

.font-size-xxxlg {
  font-size: var(--font-size-xxxlg);
}

.font-size-xxlg {
  font-size: var(--font-size-xxlg);
}

.font-size-xlg {
  font-size: var(--font-size-xlg);
}

.font-size-lg {
  font-size: var(--font-size-lg);
}

.font-size-p {
  font-size: var(--font-size-p);
}

.text-color {
  &-1 {
    color: var(--color-1);
  }

  &-2 {
    color: var(--color-2);
  }

  &-3 {
    color: var(--color-3);
  }

  &-4 {
    color: var(--color-4);
  }

  &-5 {
    color: var(--color-5);
  }

  &-6 {
    color: var(--color-6);
  }

  &-7 {
    color: var(--color-7);
  }
}

.has-dropcap:first-letter {
  font-family: var(--font-stack-1);
  float: left;
  font-size: 7.25rem;
  line-height: .65;
  margin: 0.55rem 0.75rem 0.2rem 0;
  color: var(--color-1);
}

/* ====================================
   Buttons
   ==================================== */
.btn {
  display: inline-block;
  text-align: center;
  transition: .3s ease all;
  letter-spacing: 1px;

  &--1 {
    background: var(--color-1);
    color: var(--color-5);
    padding: .725rem 1.5rem;
    font-size: var(--font-size-xlg);
    font-weight: 900;
    font-style: italic;
    text-decoration: none;

    &:hover {
      background: var(--color-5);
      color: var(--color-1);
    }
  }
}

/* ====================================
   Links
   ==================================== */
.link {
  display: inline-block;
  text-decoration: none;
  transition: all .2s ease;
  letter-spacing: 1px;

  &:hover {
    opacity: .6;
  }

  &--1 {
    position: relative;
    top: -.125rem;
    padding-bottom: .125rem;
    font-style: italic;
    font-weight: 700;
    font-size: var(--font-size-xlg);
    border-bottom: 2px solid var(--color-5);
  }

  &--2 {
    color: var(--color-6);
    position: relative;
    top: -.125rem;
    padding-bottom: .125rem;
    font-style: italic;
    font-weight: 700;
    font-size: var(--font-size-xlg);
    border-bottom: 2px solid var(--color-1);
  }
}

/* ====================================
   Backgrounds
   ==================================== */
.bg {
  &-color-1 {
    background: var(--color-1);
  }

  &-color-2 {
    background: var(--color-2);
  }

  &-color-3 {
    background: var(--color-3);
  }

  &-color-4 {
    background: var(--color-4);
  }

  &-color-5 {
    background: var(--color-5);
  }

  &-color-6 {
    background: var(--color-6);
  }

  &-color-7 {
    background: var(--color-7);
  }
}

.bg {
  &-fade-3 {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      z-index: 100;
      pointer-events: none;
      width: calc(50% - 2rem);
      height: 400px;
      background: linear-gradient(0deg, rgba(48,121,125,1) 0%, rgba(48,121,125,0) 100%);
    } 
  }
}

.styled-background-1 {
  position: relative;
  background: var(--color-5);

  &__decor-middle {
    background: url('../images/half-mandala.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 254px 508px;
    height: 508px;
    width: 254px;
    position: absolute;
    left: 0;
    top: calc(50% - 254px);
  }

  &__decor-top {
    z-index: 5;
    background: url('../images/temple-pattern-gradient-top.png');
    background-repeat: repeat-x;
    background-position: center top;
    background-size: 80%;
    width: 100%;
    height: 10.5rem;
  }

  &__decor-bottom {
    z-index: 5;
    background: url('../images/temple-pattern-gradient-bottom.png');
    background-repeat: repeat-x;
    background-size: 80%;
    background-position: center bottom;
    width: 100%;
    height: 10.5rem;
  }

  &__content {
    position: relative;
    z-index: 20;
  }
}
