.info-banner {
  padding: 1.125rem 0 .875rem;
  background: var(--color-1);
  color: var(--color-5);
  font-size: var(--font-size-lg);

  .container {
    display: flex;
    justify-content: space-between;
  }

  a {
    color: var(--color-5);
    text-decoration: none;
  }
}
