.support-block {
  text-align: center;

  h2 {
    color: var(--color-6);
    padding-bottom: 2rem;
  }

  p {
    max-width: 55rem;
    margin: 0 auto;
    color: var(--color-6);
    font-size: var(--font-size-xxxlg);
  }

  &__decor {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__btn-block {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
  }
}
