.teachings-filter {
	padding: 1rem 0;

	ul {
		display: flex;
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		margin-right: 1.5rem;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		color: var(--color-6);
		font-size: 1.063rem;
		text-decoration: none;
		font-weight: 600;
		letter-spacing: 1px;
		display: flex;

		img {
			display: inline-block;
		  margin-right: 7px;
		}
	}
}