.teachings-filter {
	padding: 1.75rem 0;
	border-bottom: 1px solid var(--color-1);

	ul {
		display: flex;
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		margin-right: 1.75rem;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		color: var(--color-6);
		font-size: 1.063rem;
		text-decoration: none;
		font-weight: 600;
		letter-spacing: 1px;
		display: flex;
		transition: opacity .2s ease;

		&:hover {
			opacity: .7;
		}

		img {
			display: inline-block;
		  margin-right: 7px;
		}
	}
}